<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Détail demande</title>
</head>
<body>

    <h1>Détail de la demande</h1>

    <h2>Informations du demandeur</h2>

    <p><strong>Nom complet :</strong>
        {{ demande.demandeur.utilisateur.first_name }}
        {{ demande.demandeur.utilisateur.last_name }}
    </p>

    <p><strong>Email :</strong> {{ demande.demandeur.utilisateur.email }}</p>
    <p><strong>Code interne :</strong> {{ demande.demandeur.code_interne }}</p>
    <p><strong>Date de naissance :</strong> {{ demande.demandeur.date_naissance }}</p>
    <p><strong>Téléphone :</strong> {{ demande.demandeur.telephone }}</p>
    <p><strong>Structure :</strong> {{ demande.demandeur.structure }}</p>

    <hr>

    <h2>Informations de la demande</h2>

    <p><strong>ID :</strong> {{ demande.id }}</p>
    <p><strong>Type d’attestation :</strong> {{ demande.type_attestation.libelle }}</p>
    <p><strong>Date de dépôt :</strong> {{ demande.date_depot }}</p>
    <p><strong>Statut :</strong> {{ demande.statut }}</p>
    <p><strong>Commentaire :</strong> {{ demande.commentaire }}</p>

    <br>

    {% if demande.statut == "EN_ATTENTE" %}
        <form method="POST" action="{% url 'valider_demande' demande.id %}">
            {% csrf_token %}
            <button type="submit">Valider la demande</button>
        </form>

        <br>

        <a href="{% url 'rejeter_demande' demande.id %}">Rejeter la demande</a>
    {% endif %}

    <br><br>

    <a href="{% url 'demandes_en_attente' %}">Retour aux demandes</a>

</body>
</html>