{% extends 'base.html' %}

{% block title %}Rejeter demande{% endblock %}

{% block content %}

<div class="card shadow">
    <div class="card-body">

        <h2 class="mb-4">Rejeter la demande n°{{ demande.id }}</h2>

        <p><strong>Demandeur :</strong>
            {{ demande.demandeur.utilisateur.first_name }}
            {{ demande.demandeur.utilisateur.last_name }}
        </p>

        <p><strong>Type :</strong> {{ demande.type_attestation.libelle }}</p>
        <p><strong>Statut actuel :</strong> {{ demande.statut }}</p>

        <form method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">Motif du rejet</label>
                <textarea name="motif_rejet" rows="5" class="form-control" required></textarea>
            </div>

            <button type="submit" class="btn btn-danger">
                Confirmer le rejet
            </button>

            <a href="{% url 'detail_demande' demande.id %}" class="btn btn-secondary">
                Annuler
            </a>
        </form>

    </div>
</div>

{% endblock %}