<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Espace Administrateur</title>
</head>
<body>

    <h1>Espace Administrateur</h1>

    <p>Bienvenue {{ request.user.username }}</p>

    <ul>
        <li><a href="/admin/accounts/customuser/">Gérer les utilisateurs</a></li>
        <li><a href="{% url 'liste_types_attestation' %}">Gérer les types d’attestation</a></li>
        <li><a href="{% url 'tableau_bord_admin' %}">Consulter le tableau de bord</a></li>
        <li><a href="{% url 'historique_actions' %}">Consulter l’historique</a></li>
    </ul>

    <a href="{% url 'logout' %}">Se déconnecter</a>

</body>
</html>