{% extends 'base.html' %}

{% block title %}Historique{% endblock %}

{% block content %}

<div class="card shadow">
    <div class="card-body">

        <h2 class="mb-4">Historique des actions</h2>

        <div class="table-responsive">
            <table class="table table-bordered table-striped align-middle">
                <thead class="table-dark">
                    <tr>
                        <th>Utilisateur</th>
                        <th>Action</th>
                        <th>Date</th>
                        <th>Objet concerné</th>
                        <th>Détail</th>
                    </tr>
                </thead>

                <tbody>
                    {% for action in actions %}
                        <tr>
                            <td>
                                {% if action.utilisateur %}
                                    {{ action.utilisateur.first_name }} {{ action.utilisateur.last_name }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>{{ action.action }}</td>
                            <td>{{ action.date_heure }}</td>
                            <td>{{ action.objet_concerne|default:"-" }}</td>
                            <td>{{ action.detail_contextuel|default:"-" }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5" class="text-center">
                                Aucune action trouvée.
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <a href="{% url 'admin_dashboard' %}" class="btn btn-secondary">
            Retour dashboard
        </a>

    </div>
</div>

{% endblock %}