{% extends 'base.html' %}

{% block title %}Types d’attestation{% endblock %}

{% block content %}

<div class="card shadow">
    <div class="card-body">

        <h2 class="mb-4">Gestion des types d’attestation</h2>

        <a href="{% url 'ajouter_type_attestation' %}" class="btn btn-primary mb-3">
            Ajouter un type
        </a>

        <div class="table-responsive">
            <table class="table table-bordered table-striped align-middle">
                <thead class="table-primary">
                    <tr>
                        <th>ID</th>
                        <th>Libellé</th>
                        <th>Description</th>
                        <th>Statut</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for type in types %}
                        <tr>
                            <td>{{ type.id }}</td>
                            <td>{{ type.libelle }}</td>
                            <td>{{ type.description|default:"-" }}</td>
                            <td>
                                {% if type.statut %}
                                    <span class="badge bg-success">Actif</span>
                                {% else %}
                                    <span class="badge bg-secondary">Inactif</span>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'modifier_type_attestation' type.id %}" class="btn btn-sm btn-warning">
                                    Modifier
                                </a>

                                <a href="{% url 'changer_statut_type_attestation' type.id %}" class="btn btn-sm btn-outline-dark">
                                    {% if type.statut %}
                                        Désactiver
                                    {% else %}
                                        Activer
                                    {% endif %}
                                </a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5" class="text-center">Aucun type trouvé.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <a href="{% url 'admin_dashboard' %}" class="btn btn-secondary">
            Retour dashboard
        </a>

    </div>
</div>

{% endblock %}