{% extends 'base.html' %}

{% block title %}Modifier type{% endblock %}

{% block content %}

<div class="card shadow">
    <div class="card-body">

        <h2 class="mb-4">Modifier le type d’attestation</h2>

        <form method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">Libellé</label>
                <input type="text" name="libelle" value="{{ type_attestation.libelle }}" class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Description</label>
                <textarea name="description" rows="5" class="form-control">{{ type_attestation.description }}</textarea>
            </div>

            <button type="submit" class="btn btn-warning">
                Modifier
            </button>

            <a href="{% url 'liste_types_attestation' %}" class="btn btn-secondary">
                Retour
            </a>
        </form>

    </div>
</div>

{% endblock %}