{% extends 'base.html' %}

{% block title %}Tableau de bord{% endblock %}

{% block content %}

<h2 class="mb-4">Tableau de bord administrateur</h2>

<div class="row g-3">

    <div class="col-md-4">
        <div class="card shadow text-center">
            <div class="card-body">
                <h5>Total demandes</h5>
                <h2>{{ total_demandes }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow text-center">
            <div class="card-body">
                <h5>En attente</h5>
                <h2>{{ demandes_en_attente }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow text-center">
            <div class="card-body">
                <h5>Validées</h5>
                <h2>{{ demandes_validees }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow text-center">
            <div class="card-body">
                <h5>Rejetées</h5>
                <h2>{{ demandes_rejetees }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow text-center">
            <div class="card-body">
                <h5>Attestations générées</h5>
                <h2>{{ total_attestations }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow text-center">
            <div class="card-body">
                <h5>Vérifications QR</h5>
                <h2>{{ total_verifications }}</h2>
            </div>
        </div>
    </div>

</div>

<a href="{% url 'admin_dashboard' %}" class="btn btn-secondary mt-4">
    Retour dashboard
</a>

{% endblock %}